<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="0;url=/dashboard">
<title>스티치 관리자 페이지</title>
<!-- <script language="javascript">
    window.location.href = "/"
</script> -->
</head>
<body>
Go to <a href="/dashboard">/dashboard</a>
</body>
</html>
