<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <% include ./navigation.ejs %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">신규 학생 등록</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                     <!-- <form onsubmit="return window.confirm('정말 등록하시겠습니까?');" method="POST" action="/student/registration">  -->
                                      <div class="form-group col-lg-12">
                                        <h2>학생 기본정보</h2>
                                      </div>
                                      <div class="form-group col-lg-6">
                                        <label>전화상담 날짜</label>
                                        <input type="date" name="calling_day" class="form-control">
                                      </div>
                                      <div class="form-group col-lg-6">      
                                        <label>방문상담 날짜</label>
                                        <input type="date" name="visiting_day" class="form-control">
                                     </div>
                                        <div class="form-group col-lg-4">
                                            <label>구분</label>
                                            <select name="consult_status"class="form-control">
                                                <option value=3 selected>성공</option>
                                                <option value=2>전화실패</option>
                                                <option value=1>취소</option>
                                                <option value=0>퇴원</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-8">
                                            <label>실패 사유</label>
                                            <input name="fail_reason" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>전화 상담가</label>
                                            <input name="called_consultant"class="form-control">
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>방문 상담가</label>
                                            <input name="visited_consultant"class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>알게된 경로</label>
                                            <select name="known_path" id="known_path" onchange="openTextbox(this);" class="form-control">
                                                <option value='명함' selected>명함</option>
                                                <option value='소개'>소개</option>
                                                <option value='인터넷'>인터넷</option>
                                                <option value='knownPathEtc'>기타</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label style="visibility:hidden">아파트명/기타</label>
                                            <input type="text" class="form-control" name="knownPathEtc" id="knownPathEtc" style="visibility:hidden;"/>
                                        </div> 
                                        <div class="form-group col-lg-4">
                                            <label>이름</label>
                                            <input name="name"class="form-control">
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>성별</label>
                                            <div class="form-group">
                                              <label class="radio-inline">
                                                  <input type="radio" name="gender" value=0 checked>남
                                              </label>
                                              <label class="radio-inline">
                                                  <input type="radio" name="gender" value=1>여
                                              </label>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-2">
                                            <label>주소(시/도)</label>
                                            <input type="text" name="address1" class="form-control">
                                        </div>
                                         <div class="form-group col-lg-2">
                                            <label>주소(군/구)</label>
                                            <input type="text" name="address2" class="form-control">
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>상세 주소</label>
                                            <input type="text" name="address3" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>학교</label>
                                            <select name="school" class="form-control">
                                                <option value=1 selected>초</option>
                                                <option value=2>중</option>
                                                <option value=3>고</option>                                            
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>학교명</label>
                                            <input name="school_name" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>학년</label>
                                            <select name="grade" class="form-control">
                                                <option selected>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>학생 연락처</label>
                                            <input name="phone" class="form-control phone-number">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>아버지 연락처</label>
                                            <input name="father_phone" class="form-control phone-number">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>어머니 연락처</label>
                                            <input name="mother_phone" class="form-control phone-number">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>희망과목</label>
                                            <select name="subject" onchange="openTextbox(this);" class="form-control">
                                                <option value="국어" selected>국어</option>
                                                <option value="영어">영어</option>
                                                <option value="수학">수학</option>
                                                <option value="사회">사회</option>
                                                <option value="과학">과학</option>
                                                <option value="subjectEtc">기타</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label style="visibility:hidden">기타 과목명</label>
                                            <input type="text" class="form-control" name="subjectEtc" id="subjectEtc" style="visibility:hidden;"/>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>수업형태</label>
                                            <select name= "class_form" class="form-control">
                                                <option value="개인방문" selected>개인방문</option>
                                                <option value="원내그룹" >원내그룹</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>차량 지원</label>
                                            <div class="form-group">
                                              <label class="radio-inline">
                                                  <input type="radio" name="car_provided" value=1 checked>Y
                                              </label>
                                              <label class="radio-inline">
                                                  <input type="radio" name="car_provided" value=0>N
                                              </label>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>학생 성향</label>
                                            <input name="student_memo" class="form-control">
                                        </div>

                                        <div class="form-group col-lg-12">
                                          <h2>희망 사항</h2>
                                        </div>

                                        <div class="form-group col-lg-2">
                                            <label>나이대</label>
                                            <select name="teacher_age" class="form-control">
                                                <option value=20 selected>20대</option>
                                                <option value=30>30대</option>
                                                <option value=40>40대</option>
                                                <option value=50>50대</option>
                                                <option value=60>60대</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>성별</label>
                                            <div class="form-group">
                                              <label class="radio-inline">
                                                  <input type="radio" name="teacher_gender" value=0 checked>남
                                              </label>
                                              <label class="radio-inline">
                                                  <input type="radio" name="teacher_gender" value=1>여
                                              </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-8">
                                            <label>희망하는 선생님 성향</label>
                                            <input name="recommended" class="form-control">
                                        </div>
                                        <div class="clearfix visible-lg"></div>
                                        <div name="schedules" id="schedules" class="schedules">
                                          <div name="regular_date" class="form-group col-lg-12">
                                            <div class="form-group col-lg-6">
                                                <label>희망 요일</label>
                                                <div class="form-group">
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek0" id="dayofweek" value="일" checked>일
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek0" id="dayofweek" value="월">월
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek0" id="dayofweek" value="화">화
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek0" id="dayofweek" value="수">수
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek0" id="dayofweek" value="목">목
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek0" id="dayofweek" value="금">금
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek0" id="dayofweek" value="토">토
                                                  </label>
                                                </div>
                                            </div>
                                                <div class="form-group col-lg-6">
                                                  <label>희망 시간</label>
                                                  <div class="form-inline">
                                                    <select name="start_meridiem" class="form-control">
                                                        <option value="오전" selected>오전</option>
                                                        <option value="오후">오후</option>
                                                    </select>
                                                    <select name="start_hour" class="form-control">
                                                        <option value="01" selected>01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <label>시</label>
                                                    <select name="start_minute" class="form-control">
                                                        <option value="00" selected>00</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                    <label>분</label>
                                                    <label>~</label>
                                                    <select name="end_meridiem" class="form-control">
                                                        <option value="오전" selected>오전</option>
                                                        <option value="오후">오후</option>
                                                    </select>
                                                    <select name="end_hour" class="form-control">
                                                        <option value="01" selected>01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <label>시</label>
                                                    <select name="end_minute" class="form-control">
                                                        <option value="00" selected>00</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                    <label>분</label>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4 col-lg-offset-8 col-lg-pull-8">
                                            <input type=button id ='scheduleAddBtn' value="희망 수업일 추가"/>
                                        </div>
                                        <div class="form-group col-lg-4 col-lg-offset-8 col-lg-pull-8">
                                            <label>첫 수업 희망일</label>
                                            <input type="date" name="first_date" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>희망 교재</label>
                                            <input name="book" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>수강료</label>
                                            <input type="number" name="fee" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>강의료</label>
                                            <input type="number" name="teacher_fee" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-12">
                                          <h2>과거 기록</h2>
                                        </div>
                                        <div class="form-group col-lg-2 col-lg-offset-10 col-lg-pull-10">
                                            <label>현재등급</label>
                                            <select name="current_score" class="form-control">
                                                <option selected>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>수강했던 프로그램</label>
                                            <select name="program" onchange="openTextbox(this);" class="form-control">
                                                <option value="학원" selected>학원</option>
                                                <option value="과외">과외</option>
                                                <option value="인강">인강</option>
                                                <option value="독학">독학</option>
                                                <option value="preProgramEtc">기타</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label style="visibility:hidden">기타 프로그램명</label>
                                            <input type="text" class="form-control" name="preProgramEtc" id="preProgramEtc" style="visibility:hidden;"/>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>기간</label>
                                          <div class="form-inline">
                                            <input type="date" name="start_term" class="form-control">
                                                <label style="text-align:center;width:auto;">~</label>
                                            <input type="date" name="end_term" class="form-control">
                                          </div>
                                        </div>

                                        <div class="form-group col-lg-6">
                                              <label>교재</label>
                                              <input name="used_book" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-12">
                                              <label>좋았던 점</label>
                                              <textarea name="pros" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group col-lg-12">
                                              <label>아쉬웠던 점</label>
                                              <textarea name="cons" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group col-lg-12">
                                              <button type="submit" id="registerButton" class="center-block">등록</button>
                                        </div>
                                     <!-- </form>  -->
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script type="text/javascript">
        function openTextbox(selection){
            //TODO : 기타로 빠졌다가 다시 바꾸면 텍스트박스 안 사라짐
            var element = document.getElementById(selection.value);
            element.style.visibility = 'visible';
            switch(selection.value){
                case "knownPathEtc": {
                    element.placeholder = "기타경로";
                    break;
                }
                case "subjectEtc": {
                    element.placeholder = "기타 과목명";
                    break;
                }
                case "preProgramEtc": {
                    element.placeholder = "기타 프로그램명";
                    break;
                }
                default: {
                    element.style.visibility = 'hidden';
                }
            }

        }


    </script>
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script>
        $(() => {
            $('#registerButton').click(() => {
            if(window.confirm('정말 등록하시겠습니까?')){
                let PhoneRegExp = /^\d{2,4}-\d{3,4}-\d{4}$/;
                let phones = document.querySelectorAll('.phone-number');
                for(let i in phones){
                    if(!phones[i].value) continue;
                    else if (!PhoneRegExp.test(phones[i].value)){
                        alert("잘못된 전화번호입니다. - 를 포함한 숫자만 입력하세요.");
                        return;
                    }
                }
                //희망 수업일/시간
                let regular_date='';
                for(let i = 0; i < $("#schedules").children().length; i++){
                    regular_date += document.getElementsByName("dayofweek"+i)[0].value,
                                    +' '+document.getElementsByName('start_meridiem')[i].value
                                    +' '+document.getElementsByName('start_hour')[i].value
                                    +':'+document.getElementsByName('start_minute')[i].value
                                    +'~'+document.getElementsByName('end_meridiem')[i].value
                                    +' '+document.getElementsByName('end_hour')[i].value
                                    +':'+document.getElementsByName('end_minute')[i].value,
                                    +'\n';
                }

                let knownPathArray = ['명함', '소개', '인터넷'],
                    subjectArray = ['국어', '수학', '영어', '사회', '과학'],
                    preProgramArray = ['학원', '과외', '인강', '독학'];
                let knownPathValue = document.getElementsByName('known_path')[0].value,
                    subjectValue = document.getElementsByName('subject')[0].value,
                    preProgramValue = document.getElementsByName('program')[0].value;

                if(!knownPathArray.includes(knownPathValue)) knownPathValue = document.getElementById('knownPathEtc').value;
                if(!subjectArray.includes(subjectValue)) subjectValue = document.getElementById('subjectEtc').value;
                if(!preProgramArray.includes(preProgramValue)) preProgramValue = document.getElementById('preProgramEtc').value;
               
                $.ajax({ 
                    url: '/student/registration',
                    processData: false,
                    type: 'POST',
                    cache: false, 
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data:  JSON.stringify({
                    assignment: {
                        studentName: document.getElementsByName('name')[0].value,
                        callingDay: document.getElementsByName('calling_day')[0].value || new Date(),
                        visitingDay: document.getElementsByName('visiting_day')[0].value || new Date(),
                        consultStatus: document.getElementsByName('consult_status')[0].value,
                        failReason: document.getElementsByName('fail_reason')[0].value,
                        calledConsultant: document.getElementsByName('called_consultant')[0].value,
                        visitedConsultant: document.getElementsByName('visited_consultant')[0].value,
                        knownPath: knownPathValue,
                        subject: subjectValue,
                        classForm: document.getElementsByName('class_form')[0].value,
                        carProvided: document.getElementsByName('car_provided')[0].value,
                        studentMemo: document.getElementsByName('student_memo')[0].value,
                        teacherAge: document.getElementsByName('teacher_age')[0].value,
                        teacherGender: document.getElementsByName('teacher_gender')[0].value,
                        recommended: document.getElementsByName('recommended')[0].value,
                        firstDate: document.getElementsByName('first_date')[0].value || new Date(),
                        book: document.getElementsByName('book')[0].value,
                        fee: document.getElementsByName('fee')[0].value || 0,
                        teacherGee: document.getElementsByName('teacher_fee')[0].value || 0,
                        prevScore: document.getElementsByName('current_score')[0].value,
                        prevProgram: preProgramValue,
                        prevStartTerm: document.getElementsByName('start_term')[0].value || new Date(),
                        prevEndTerm: document.getElementsByName('end_term')[0].value || new Date(),
                        prevUsedBook: document.getElementsByName('used_book')[0].value,
                        prevPros: document.getElementsByName('pros')[0].value,
                        prevCons: document.getElementsByName('cons')[0].value     
                    },
                    student: {
                        name:  document.getElementsByName('name')[0].value,
                        gender: document.getElementsByName('gender')[0].value,
                        address1: document.getElementsByName('address1')[0].value,
                        address2: document.getElementsByName('address2')[0].value,
                        address3: document.getElementsByName('address3')[0].value,
                        school: document.getElementsByName('school')[0].value,
                        schoolName: document.getElementsByName('school_name')[0].value,
                        grade: document.getElementsByName('grade')[0].value,
                        phone: document.getElementsByName('phone')[0].value,
                        fatherPhone: document.getElementsByName('father_phone')[0].value,
                        motherPhone: document.getElementsByName('mother_phone')[0].value
                    }
                }), 
                success: function(data){
                    window.location.href = '/student/joined';
                },
                error: function(xhr, status, error){
                    alert(xhr.responseText);
                }
              });
            }
        });
    });  
      $(function() {
        //html함수 적용하여 htmltest태그내의 html 변경
        $("#scheduleAddBtn").click(function() {
          var len = $("#schedules").children().length;
          var tag =                       `<div name="regular_date" class="form-group col-lg-12">
                                            <div class="form-group col-lg-6">
                                                <label>희망 요일</label>
                                                <div class="form-group">
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek` + len + `" id="dayofweek" value="일" checked>일
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek` + len + `" id="dayofweek" value="월">월
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek` + len + `" id="dayofweek" value="화">화
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek` + len + `" id="dayofweek" value="수">수
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek` + len + `" id="dayofweek" value="목">목
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek` + len + `" id="dayofweek" value="금">금
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input type="radio" name="dayofweek` + len + `" id="dayofweek" value="토">토
                                                  </label>
                                                </div>
                                            </div>
                                                                                            <div class="form-group col-lg-6">
                                                  <label>희망 시간</label>
                                                  <div class="form-inline">
                                                    <select name="start_meridiem" class="form-control">
                                                        <option value="오전" selected>오전</option>
                                                        <option value="오후">오후</option>
                                                    </select>
                                                    <select name="start_hour" class="form-control">
                                                        <option value="01" selected>01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <label>시</label>
                                                    <select name="start_minute" class="form-control">
                                                        <option value="00" selected>00</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                    <label>분</label>
                                                    <label>~</label>
                                                    <select name="end_meridiem" class="form-control">
                                                        <option value="오전" selected>오전</option>
                                                        <option value="오후">오후</option>
                                                    </select>
                                                    <select name="end_hour" class="form-control">
                                                        <option value="01" selected>01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <label>시</label>
                                                    <select name="end_minute" class="form-control">
                                                        <option value="00" selected>00</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                    <label>분</label>
                                                  </div>
                                                </div>`;
          $("#schedules").append(tag);
        });
      })
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
